
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	font-family: Monospace;
	background-color: #fff;
	color: #fff;
	margin: 0;
	overflow: hidden;
}

.project-single {
	background-color: blue;
	height: 100px;
	color: #fff;
	opacity: 0.8;
	z-index: 20;
	position: absolute;
	top: 0;
	-ms-transform: translateX(calc(200%)); /* IE 9 */
	-webkit-transform: translateX(calc(200%])); /* Safari */
	transform: translateX(calc(200%));
	transition: 0.5s;
	width: 92%;
	height: 100vh;
	display: flex;
}
.project-images {
	display: flex;
	align-items: center;
	padding-top: 4rem;
	overflow-y: scroll;
	flex-direction: column;
	width: 60%;
}
.project-image__single {
	width: 60%;
	margin-bottom: 10%;
}
.project-about {
	padding: 3%;
	width: 35%;
	background-color: salmon;
}
.slideIn {
	-ms-transform: translateX(9%); /* IE 9 */
	-webkit-transform: translateX(9%); /* Safari */
	transform: translateX(9%);
}
/* Header */

.header {
	background-color: #e1f1ff;
	height: 300px;
	color: #0c1d00;
	opacity: 0.8;
	z-index: 99;
	position: relative;
	-ms-transform: translateY(calc(-100%)); /* IE 9 */
	-webkit-transform: translateY(calc(-100%])); /* Safari */
	transform: translateY(calc(-100%));
	transition: 0.5s;
}
.header__top {
	background: rgba(255,0,255,.5);
	opacity: 0.85;
	height: 300px;
	z-index: 11;
}
/*.header__bottom {
	background: rgba(0,0,0,0);
	height: 40px;
	color: white;
	padding: 1rem;
}*/
.header:hover {
	-ms-transform: translateY(0); /* IE 9 */
	-webkit-transform: translateY(0); /* Safari */
	transform: translateY(0);
}

.header::after {
	height: 0px;
	width: 100%;
	padding: 1rem;
	opacity: 1;
	display: flex;
	content: url("img/lemon-purple.svg");
	color: white;
	position: absolute;
	z-index: 11;
}

.container {
}
canvas {
	background-color: #fff;
	-ms-transform: translateY(-300px); /* IE 9 */
	-webkit-transform: translateY(-300px); /* Safari */
	transform: translateY(-300px);
}
